@import './variables.scss';

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
ul { list-style: none; }
a { text-decoration: none; }

body {
    position: relative;
    padding-top: 4rem;   
}
body::before {
    content:'';
    position: absolute;
    width: 40vw;
    height: 50vh;
    background: hsl(207, 33.3%, 94.7%);
    z-index: -1;
    top:0;
    right:0;
    border-radius: 0 0 0 60px;
}

.container {
    width: 1440px;
    max-width: 90%;
    display: flex;
    margin: 5% 0 0 10%;
    overflow-x: hidden;
    overflow-y: hidden;
    flex-direction: row;
   
    @include screen(small) {
        flex-direction: column;
    }

    @include screen(medium) {
        flex-direction: column;
    }
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1265px;
    margin: 0 auto;
    max-width: 90%;
    margin-bottom: 4rem;
}

.navbar__list {
    display: flex;
    position: static;
    background: none;
    padding: 0;
    box-shadow: none;
    flex-direction: row;
    justify-content: flex-end;
    height: initial;
    z-index: 1;
}

.navbar__list {
    @include screen(medium) {
    position: absolute;
    display: none;
    justify-content: space-between;
    flex-direction: column;
    top: 4.5rem;
    background: #fff;
    padding: 5%;
    height: 15rem;
    width: 100%;
    z-index: 100;
    box-shadow: -2px 2px 15px rgba(0, 0, 0, 0.3);
        &--bar {
            border-top: 1px solid;
            position: relative;
            width: 89%;
            height: 10px;
            margin: 0 auto;
            opacity: 15%;
            color:$darkBlue;
        }
    }
}
.navbar__list li {
    text-align: center;
    margin-left: 3rem;
    font-family: $font-familyII;
    font-weight: 700;
    font-size: $font-size;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    @include screen(medium) {
        margin-left: 0rem;
    }
    
}
.navbar__list li a {
    color: $darkBlue;
}
.navbar__list li:hover a { 
    text-decoration: underline; 
}

.navbar__list li:last-child a {
    color: $greyBlue;
    padding-top: 1.5rem;
    margin-left: 6rem;
    @include screen(medium) {
        margin-left: 0rem;
    }
}

.navbar__hamburger {
        display: none;
        cursor: pointer;
    @include screen(medium) {
        display: inline;

    }
}
.navbar__hamburger img {
    width: 100%;
}

.container__img {
    width: 200%;
    order: 2;
    transform: translateX(35%);
    @include screen(medium) {
        transform: translateX(0%);
        order: 1;
    }
}
img {
    width: 100%;
    @include screen(medium) {
        width: 50%;
    }
}
.logo__path {
    position: relative;
    left: 272px;
    top: 80px;
}


.container__title {
    height:120px;
    width: 332px;
    margin: 0 ;
    font-family: $font-familyII;
    font-weight: 700;
    font-style: bold;
    font-size: 2.5 * $font-size;
    line-height: 1;
    text-transform: uppercase;
}
.container__subtitle {
    margin: 0 auto;
    order: 1;
    width: 470px;
    font-family: $font-family;
    @include screen(medium) {
        order: 2;
    }
}
.container__sub {
    display: flex;
}
.container__rectangle {
    background: hsl(230, 29.4%, 20%);
    font-family: $font-familyII;
    width: 28px;
    height: 16px;
    margin: 3px;
    font-size: 13px;
    text-align: center;
    color: #fff;
    border-radius: 12.5px;
    text-transform: uppercase;
}
.container__subtitle--head {
    margin: 0;
    width: 220px;
    height: 18px;
    color: hsl(230, 29.4%, 20%);
    opacity: 50%;
    font-family: $font-familyII;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.container__subtext {
    width: 267px;
    height: 52px;
    margin-top: 10px;
    font-family: $font-family;
    font-size: $font-size;
    color: hsl(230, 29.4%, 20%);
    opacity: 75%;
}

.button__primary {
    position: relative;
    margin-top: 20px ;
    width: 184px;
    height: 48px;
    border-radius: 5px;
    background: $colorRed;
}

.button__title {
    position: absolute;
    width: 120px;
    height: 19px;
    left: 30px;
    top:12px;
    color:#fff;
    font-family: $font-familyII;
    font-size: $font-size;

}

.button__primary::after {
    content: 'TO SEE A PREVIEW';
    position: relative;
    left:170px;
    color:hsl(230, 29.4%, 20%);
    font-family: $font-familyII;
    opacity: 50%;
    font-size: 15px;
    font-weight: 400;

}
.footer {
    margin: 5% auto;
    max-width: 90%;
    font-family: $font-family;
}